# k8s/jobs/postgres-init-job.yaml

apiVersion: batch/v1
kind: Job
metadata:
  name: postgres-init-job
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: postgres-init
        image: postgres:latest
        command:
          - /bin/sh
          - -c
          - |
            echo "Waiting for PostgreSQL..."
            until pg_isready -h ${POSTGRES_HOST} -p ${POSTGRES_PORT}; do
              echo "Still waiting..."
              sleep 5
            done

            echo "Running initialization SQL..."
            PGPASSWORD="${POSTGRES_ROOT_PASSWORD}" \
            psql -h ${POSTGRES_HOST} -p ${POSTGRES_PORT} \
                 -U postgres -f /sql/init.sql
        env:
        - name: POSTGRES_HOST
          valueFrom:
            configMapKeyRef:
              name: billing-config
              key: POSTGRES_HOST
        - name: POSTGRES_PORT
          valueFrom:
            configMapKeyRef:
              name: billing-config
              key: POSTGRES_PORT

        - name: POSTGRES_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database-secrets
              key: POSTGRES_ROOT_PASSWORD

        volumeMounts:
        - name: postgres-sql-volume
          mountPath: /sql

      volumes:
      - name: postgres-sql-volume
        configMap:
          name: postgres-init-sql
          items:
            - key: init.sql
              path: init.sql
