apiVersion: v1
kind: Service
metadata:
  name: billing-service
  namespace: default

spec:
  type: NodePort
  selector:
    app: billing-service

  ports:
    - name: http
      port: 8081        # puerto dentro del cluster
      targetPort: 8081  # puerto del contenedor
      nodePort: 30081   # puerto accesible desde tu PC
