apiVersion: v1
kind: ConfigMap
metadata:
  name: oracle-init-sql
  namespace: default

data:
  init.sql: |
    ALTER SESSION SET "_ORACLE_SCRIPT" = true;

    CREATE USER CASTOR_BILLING IDENTIFIED BY "Castor2025*";

    GRANT CONNECT, RESOURCE, CREATE SESSION, CREATE TABLE, CREATE VIEW, CREATE SEQUENCE,
          CREATE TRIGGER, CREATE PROCEDURE, CREATE SYNONYM TO CASTOR_BILLING;

    ALTER USER CASTOR_BILLING QUOTA UNLIMITED ON USERS;
