apiVersion: v1
kind: Service
metadata:
  name: oracle-db
  namespace: default

spec:
  type: ClusterIP
  selector:
    app: oracle-db

  ports:
    - name: oracle
      port: 1521
      targetPort: 1521
