apiVersion: v1
kind: Secret
metadata:
  name: oracle-secret
  namespace: default

type: Opaque
stringData:
  ORACLE_PASSWORD: "Castor2025*"
  ORACLE_USER: "CASTOR_BILLING"
  ORACLE_USER_PASSWORD: "Castor2025*"
