apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-init-sql
  namespace: default

data:
  init.sql: |
    -- Crear base de datos (solo si no existe)
    CREATE DATABASE castor_customers;

    -- Crear usuario (solo si no existe)
    DO $$
    BEGIN
      IF NOT EXISTS (
        SELECT FROM pg_catalog.pg_roles WHERE rolname = 'castor_user'
      ) THEN
        CREATE ROLE castor_user LOGIN PASSWORD 'Castor2025*';
      END IF;
    END$$;

    -- Otorgar permisos y ownership
    ALTER DATABASE castor_customers OWNER TO castor_user;

    GRANT ALL PRIVILEGES ON DATABASE castor_customers TO castor_user;
