apiVersion: v1
kind: Service
metadata:
  name: invoice-calculator
  namespace: default

spec:
  type: ClusterIP
  selector:
    app: invoice-calculator

  ports:
    - name: http
      port: 5001        # Puerto interno del servicio
      targetPort: 5001  # Puerto del contenedor
