apiVersion: v1
kind: ConfigMap
metadata:
  name: oracle-init-sql
data:
  init.sql: |
    ALTER SESSION SET "_ORACLE_SCRIPT"=true;

    CREATE USER CASTOR_BILLING IDENTIFIED BY "Castor2025*";
    GRANT CONNECT, RESOURCE, DBA TO CASTOR_BILLING;
    ALTER USER CASTOR_BILLING QUOTA UNLIMITED ON USERS;

    CREATE TABLE CASTOR_BILLING.INVOICES (
        ID RAW(16) DEFAULT SYS_GUID() PRIMARY KEY,
        CUSTOMER_ID RAW(16) NOT NULL,
        SUBTOTAL NUMBER(18,2) NOT NULL,
        TAX NUMBER(18,2) NOT NULL,
        DISCOUNT NUMBER(18,2) NOT NULL,
        TOTAL NUMBER(18,2) NOT NULL,
        CREATED_AT TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
